<br />
<div class="ui container">
	<div class="ui top attached tabular menu">
		<div ng-class="{ active: $index == 0 }" class="item" data-tab="{{ channel }}" ng-repeat="channel in ircService.getChannels()">
			{{ channel }}
		</div>
	</div>
	<div ng-class="{ active: $index == 0 }" class="ui attached tab segment" ng-repeat="channel in ircService.getChannels()">
		<div class="ui relaxed divided list">
			<div class="item" ng-repeat="message in messages[channel]" ng-click="currentChannel = $index;">
				<div class="middle aligned right floated content">
					{{ message.time }}
				</div>
				<div class="content">
					<div class="header">
						{{ message.from }}
					</div>
					<div class="description">
						{{ message.message }}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="ui bottom attached segment" style="margin-top: -2px;">
		<form class="ui form" ng-submit="sendMessage()">
			<div class="ui fluid action input">
				<input type="text" ng-model="newMessage" ng-keyup="$event.keyCode == 13 && sendMessage()" placeholder="Say something...">
				<button class="ui blue right labeled icon button" type="submit">
					<i class="envelope icon"></i> Send
				</button>
			</div>
		</form>
	</div>